:root {
    --background-color: #593abb;
    --background-color2: #3a9cbb;
    --background-color3: #bb3a9c;
    --background-color4: #3abb9a;
    --card-color: #bbac81;
    --active-color: #bbac81;
    --font-color: #fff;    
    --font-family: 'DotGothic16', sans-serif;
    --font-family2: 'Roboto', sans-serif;
    --font-size: 20px;
    --filter-color: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);



    --header-background-color: #077D99;
    --main-background-color: #238B49;
    --button-color: #024C68;
    --button-active-color: #62B1D0;    
        
}                

/* Normalize --start */
*,
*::before, 
*::after {
    padding: 0;
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
/* Normalize --stop */       

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}



a {
    color: var(--font-color);
    transition: .7s;
}

a:hover {
    filter: var(--filter-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin: 0 48px;
    padding: 5px 20px;       
    background-color: var(--header-background-color);
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-item {
    padding-right: 40px;
}

.nav-item:hover {
    filter: var(--filter-color);
    cursor: pointer;
}

.active {
    filter: var(--filter-color);
}

.main {
    background-size: cover;
    background-color: var(--main-background-color);
    max-height: calc(100vh - 120px);
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 48px;  
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 48px;
    padding: 5px 20px;
}

.footer-items {
    display: flex;
    flex-direction: row;
}

.footer-item {
    padding-right: 20px;
}

.rss-logo {
    height: 50px;    
}                        

.end-item {
    padding-right: 0px;
}