* {   
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;   
    color: #fff;

   
    
}
 body {
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
 }

a {
    text-decoration: none;
}


h1, h2 {
    font-family: 'Merriweather', serif; 
}

header {
    height: 90px;
    
}

main {
    display: flex;
    flex-direction: column;
}

.header-container {
   
  }


.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    
   
    
}

nav {
    margin-left: auto;
}

.nav-list {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0px;    
    width: 500px;
    height: 50px;
    

}

.nav-item {
    list-style-type: none;
   

}

.nav-item a {
    background-color:  #f5690c;
    transition: background-color .7s;
}

.nav-item a:hover {
    background-color: #4a19d1 ;

}


.nav-link {

}

.section {

}

  .section-title {

}