* {   
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;  
    font-size: 20px; 
    color: #fff;

   
    
}
 body {
    background-color: #000;
 }

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif; 
    font-weight: bold;
}

h1 {    
    font-size: 60px;
}

h2 {
    font-size: 40px;
    color: #bdae82;
    text-align: center;

}

h3 {
    font-size: 28px;
    height: 56px;
    text-align: center;
    margin-top: 43px;
}

.section {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

}

.section-title {
    /* Чтобы спрятать часть линий, которые 
    ** будут вылазить за пределы блока */
    overflow: hidden;
    margin: 100px auto 60px;
    width: 700px;
    height: 80px;
}

.section-title:before,
.section-title:after {
    /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 2px;
    /* Добавляем цвет для линии */
    background-color: #bdae82;
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.section-title:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -20px;
}
.section-title:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -20px;
}

header {
    height: 90px;    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icons {
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
  }
  .icons:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }

  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;       
}

.header-container {
    background: url('assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
    width: inherit;
    margin: inherit;
    padding: inherit;
    display: flex;
    flex-direction: row;
}

nav {
    margin-left: auto;
}

.nav-list {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0px;    
    width: 500px;
    height: 50px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    color:  #fff;
    transition: color .7s;
}

.nav-item a:hover {
    color: #bdae82;
}

.hero-container {
    height: 820px;
    background-image: url('assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;

    width: inherit;
    margin: inherit;
    padding: inherit;
}

.hero-container section {
    width: 500px;
    height: 330px;
    padding-top: 160px;
    padding-left: 80px;
}

.hero-container p {
    line-height: 40px;
}

.skills-container {
    height: 482px;

    width: inherit;
    margin: inherit;
    padding: inherit;
}

.skills-items {
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 242px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-item {
    width: 320px;
    height: 240px;
    text-align: center;

}

.skills-item img {
    display: block;
    width: 62px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.skills-item-header {
    display: block;
    height: 20px;
    font-weight: 700;
    
    
}

.skills-item-text {
    display: block;
    height: 18px;
    font-weight: 400;
}

.portfolio-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 895px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    gap: 5px;
}

.btn {
    width: 220px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid #bdae82;
    color: #bdae82;
    background-color: #000;
}

.portfolio-items {
    display: flex;
    flex-direction: row-reverse;
    width: 1400px;
    height: 1145px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 25px;
}

.portfolio-item {
    height: 560px;
    width: 450px;
}

.video-player {
    background-image: url('assets/img/video-player.jpg');
    width: 1400px;
    height: 705px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 505px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    gap: 25px;

}

.price-item {
    width: 450px;
    height: 505px;
    border: #bdae82 solid 2px;
    text-align: center;

}

.price-item p {
    color: #bdae82;
    font-size: 24px;
    font-family: 'Merriweather', serif; 
    font-weight: 700;
    margin-bottom: 20px;

}

.price-item span{
    display: block;    
    height: 36px;
    size: 18px;
    
}

.price-item button {
    margin-top: 40px;
}



.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}







.nav-link {

}
